.navbar {
    height: 60px;
    color: whitesmoke;
    background-color:mediumturquoise;
    text-align: center;

}

.contact-card{
    color: rgb(211, 110, 28);
    background-color:mediumaquamarine;
}